.project-header {
	padding-top: 50px;
	background: linear-gradient(
		to bottom,
		map-get($colors, "eight"),
		map-get($colors, "seven")
	);
	text-align: center;

	P {
		font-size: 18px;
		font-weight: 400;
	}
	.title {
		text-align: center;
		font-size: 36px;
		font-weight: 600;
		line-height: 50px;
	}

	.title::after {
		content: "";
		display: block;
		border-bottom: 5px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(
			to left,
			map-get($colors, "three"),
			map-get($colors, "six")
		);
		width: 20%;
		margin: 10px auto 15px auto;
		opacity: 0;
	}

	.title:hover::after {
		opacity: 1;
		transition: 0.4s ease-in-out;
	}
}

.projects-content {
	margin-bottom: 130px;

	.button-group {
		margin: 60px 0 30px 0;
		.button-images {
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			padding: 11px 13px;
			margin-right: 20px;
			margin-bottom: 10px;
			border: 1px solid rgba(0, 0, 0, 0.75);
			background-color: transparent;
		}
		.button-images:hover {
			background-color: #452d3b;
			color: #fff;
			transition: 0.4s ease-in-out;
		}
		.button-images.active {
			background-color: #452d3b;
			color: #fff;
		}
	}

	.projects {
		margin-bottom: 40px;
		.box {
			margin-bottom: 30px;

			.tampilkan {
				position: relative;
				img {
					max-width: 100%;
				}
				.info {
					position: absolute;
					bottom: 0;
					width: 100%;
					z-index: 2;
					background-color: #452d3b;
					color: #ffffff;
					opacity: 0;
					text-align: left;
					padding: 15px 22px;

					.project-title {
						font-size: 18px;
					}
					.project-client {
						font-size: 14px;
					}
				}
			}
		}
		.box:hover {
			img {
				opacity: 0.4;
				transition: 0.5s all;
			}
			.info {
				opacity: 1;
				transition: 0.5s all;
			}
		}
	}

	.project-pagination {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
		.page-item {
			border: 0;
			.page-link {
				font-size: 24px;
				font-weight: 400;
				line-height: 36px;
				border: 0px !important;
				padding: 7px 20px;
				margin: 0 5px;
				color: #000000bf;
			}
			.page-link.active {
				font-size: 24px;
				font-weight: 700;
				line-height: 36px;
				color: #ffffff;
				background-color: #452d3b;
			}
			.page-link.next,
			.page-link.previous {
				width: 20px;
				font-weight: 700;
			}
		}
	}

	.project-button {
		display: flex;
		justify-content: center;
		.hire-us {
			font-size: 18px;
			font-weight: 700px;
			line-height: 27px;
			padding: 15px 50px;
			background-color: #452d3b;
			border-radius: 30px;
			color: #fff;
		}
		.hire-us:hover {
			box-shadow: 0px 0px 50px 0px #00000040;
			transition: 0.5s all;
		}
	}
}

#projectDetail {
	.modal-body {
		.img-profil {
			border-radius: 20px;
		}

		.profil-content {
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 20px;
			padding: 30px;
			color: #fff;

			h1 {
				font-size: 36px;
				font-weight: 600;
				line-height: 54px;
			}

			h4 {
				font-size: 24px;
				font-weight: 400;
				line-height: 36px;
			}

			p {
				font-size: 18px;
				font-weight: 400;
				line-height: 27px;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.modal {
		.modal-body {
			.img-profil {
				border-radius: 20px 20px 0 0 !important;
			}

			.profil-content {
				border-radius: 0 0 20px 20px !important;
				h1 {
					font-size: 24px !important;
					font-weight: 600;
					line-height: 24px !important;
				}
				h4 {
					font-size: 18px !important;
					font-weight: 600;
				}
				p {
					font-size: 12px !important;
					font-weight: 400;
					line-height: 20px !important;
				}
			}
		}
	}
}
