.contactus {
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: map-get($map: $colors, $key: "two");
  color: map-get($map: $colors, $key: "seven");

  .company {
    .company-img {
      width: 58px;
      height: 53px;
    }
    .company-title {
      top: -15px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    .company-info {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
  }

  .links {
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
    }
    ul {
      display: flex;
      padding: 0;
      li {
        list-style: none;
        margin: 0 10px;
        a {
          position: relative;
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #fff;
          text-align: center;
          font-size: 30px;
          line-height: 50px;
          color: #452d3b;
        }
      }
    }
  }

  .social {
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    form {
      .form-group {
        input {
          border-radius: 8px !important;
          box-shadow: 0px 0px 15px 1px #00000040 inset;
        }
      }
      .contact-button {
        margin-top: 10px;
        background-color: #5fca6a;
        border-radius: 8px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 2px 37px;
      }
    }
  }
}

textarea {
  width: 100% !important;
  height: 110px !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 15px 1px #00000040 inset;
}
